<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lolapau.cobradordelfrac"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_smoking"
        android:label="@string/app_name"
         android:theme="@style/Theme.Sherlock"
         >
        <activity
            android:name="com.lolapau.cobradordelfrac.Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
           android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="twitter"
                    android:scheme="mdw" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lolapau.cobradordelfrac.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lolapau.cobradordelfrac.DebtsActivity"
            android:label="@string/title_activity_debts" >
        </activity>
        <activity
            android:name="com.lolapau.cobradordelfrac.DebtEdit"
            android:label="@string/title_activity_debt_edit" >
        </activity>

        <receiver android:name="com.lolapau.cobradordelfrac.Reminder" >
        </receiver>

        <activity
            android:name="com.lolapau.cobradordelfrac.SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.lolapau.cobradordelfrac.NewDebtActivity"
            android:label="@string/title_new_debt">
        </activity>
        <activity
            android:name="com.lolapau.cobradordelfrac.NewContactActivity"
            android:label="@string/add_friend">
        </activity>
        <activity
            android:name="com.lolapau.cobradordelfrac.ViewContactsActivity"
            android:label="@string/contacts">
        </activity>
    </application>

</manifest>